<table>
    <% @goods.each do |good| %>
          <div class="col-md-3">
            <a href="<%= good_path(good) %>" class="thumbnail">
              <div class="caption">
                <%= good.name %>
              </div>
              <div class="image">
                <img src="" class="" />
              </div>
            </a>
          </div>
        <% end %>
</table>
