<table>
    <% @goods.each do |good| %>
        <tr>
          <td><%= good.name %></td>
          <td><%= good.description %></td>
          <td><%= good.good_type.name %></td>
        </tr>
          <% end %>
</table>
