<div class="container-fluid">
  <div class="row row-eq-height">
    <% @goods.each do |good| %>
            <div class="thumbnail">
              <div class="caption">
                <%= good.name %>
              </div>
              <div class="">
                <%= image_tag(good.image, class:"img-responsive") if good.image.present? %>
              </div>
            </div>
        <% end %>
  </div>
</div>
