<div class="">
  <div class="">
    <h1>Picpi</h1>
    <h4>Proyecto Integrador - Compras Por Internet </h4>
  </div>
  <h2>Productos en descuento</h2>
  <div class="">
    <div class="">
      <%= render 'goods' %>
    </div>

  </div>
</div>
